---
layout: compress
---

{% include base_path %}


<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    <center> <img src="https://www.muratkocaoglu.com/images/banner-large.jpg" width="1080"> </center>
  
    <br>
    
  <div class="archive">
    <!--{% unless page.header.overlay_color or page.header.overlay_image %}-->
    <h1 class="page__title">{{ page.title }}</h1>
    <!--{% endunless %}-->
    {{ content }}
  </div>
  
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
